@import './vars.css';

.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 3px var(--gray-3);
    border-radius: 15px;
}

.list {
    width: 80%;
    margin: 0 0 2vh 10vw;
    display: flex;
    justify-content: left;
    align-items: center;
    border: solid 3px var(--gray-2);
    background-color: var(--gray-3);
    border-radius: 15px;
}

.list a {
    width: 70%;
}

.list div {
    margin: 0;
    width: 100%;
}

.list .options {
    width: 30%;
}

.list img{
    width: 80%;
}

.table:hover,
.list:hover {
    border: solid 3px var(--gray-1);
}

.list div:hover,
.table div:hover {
    border-color: var(--gray-3);
}

@media screen and (max-width: 600px) {
    .list img {
        width: 100%;
    }
    
    .list,
    .list div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
    }

    .list div:hover {
        border-color: var(--gray-3);
    }
}
