@import './vars.css';

.page {
    padding-top: var(--top-space);
}

.list, 
.table {
    margin-top: 5vh;
}

.table {
    width: 80%;
    background-color: var(--gray-3);
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    grid-auto-rows: minmax(200px, auto);
    justify-content: space-around;
    column-gap: 10px;
    row-gap: 55px;
    padding: 3vh 0;
    width: 90%;
    margin-left: var(--side-space);
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--gray-3);
    border-radius: 15px;
    padding: 3vh 2%;
    background-color: var(--gray-2);
}

.options {
    display: flex;
    align-items: center;
    padding-left: 8vw;
}

.options p {
    font-size: 17px;
}

.button:hover {
    background-color: var(--gray-2);
}
