@import './vars.css';

.page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--gray-3);
}

.info {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-3);
}

.intro ,
.thumbnail {
    width: 40vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.intro {
    padding-left: 2vw;
}

.intro * {
    margin-bottom: 1rem;
}

.intro h1 {
    color: var(--contrast-1);
}

.contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: var(--gray-3);
}

.links {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links a {
    height: 70px;
    width: 70px;
    margin: 0 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.links img {
    width: 40px;
    transition: 0.2s;
}

.links img:hover {
    width: 45px;
}

button:hover {
    background-color: var(--gray-2);
}