@import './vars.css';

.page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: var(--top-space);
    background-color: var(--gray-3);
}

.info,
.brands, 
.aboutUs {
    height: 100vh;
    width: 100%;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-3);
}

.thumbnail,
.intro {
    width: 40vw;
    height: 70vh;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 2vw;
}

.intro * {
    margin-bottom: 1rem;
}

.intro h1 {
    color: var(--contrast-1);
}

.brands {
    background-color: var(--contrast-1);
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.brands div {
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4rem;
}

.brands img {
    max-width: 20vw;
    height: 40px;
    margin: 10vh 5vw;
}

.aboutUs {
    background-color: royalblue;
}

button:hover {
    background-color: var(--gray-2);
}