@import './vars.css';

.page {
    display: flex;
    padding-top: 15vh;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--gray-3);
    height: 100vh;
}

.imgSection,
.infoSection {
    width: 480px;
    height: 50vh;
    margin-bottom: 50px;
}

.imgSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgSection img {
    width: 100%;
}

.infoSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 3vw;
}

.name {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
    word-break: keep-all;
}

.price {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    word-break: keep-all;
}

.property {
    display: flex;
    margin-bottom: 1em;
}

.property img,
.property span {
    width: 20px;
    font-size: 20px;
}

.property p {
    margin-left: 1vw;
}

.backButton {
    background: var(--gray-3);
    color: var(--contrast-1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.backButton:hover {
    color: var(--blue-5);
    background-color: var(--gray-3);
}

.form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: auto 0 1rem 0;
}

.form input {
    width: 100px;
}

.form a {
    width: 30%;
}

@media screen and (max-width: 600px) {
    .imgSection,
    .infoSection {
        width: 98%;
    }

    .imgSection img {
        width: 80%;
    }

    .infoSection {
        padding-left: 10vw;
    }
}