@import './vars.css';

.tableCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-3);
    padding: 5px;
    border-radius: 15px;
    border: solid 2px var(--gray-3);
}

.listCard {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
    border-radius: 15px;
    border: solid 2px var(--gray-3);
    background-color: var(--gray-3);
    margin-bottom: 2vh;
    padding-left: 3vw;
}

.tableCard:hover,
.listCard:hover {
    border-color: var(--gray-1);
}

.tableCardImg {
    height: 200px;
    width: 80%;
    margin-bottom: 5px;
}

.listCardImg {
    width: 300px;
    margin-bottom: 5px;
}

.listCardInfo{
    padding-left: 3vw;
}

.price {
    text-align: center;
}

.listCard .price {
    text-align: left;
}

@media screen and (max-width: 600px) {
    .listCard {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .listCardImg {
        width: 100%;
    }
}
