@import './vars.css';

.container {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
    background-color: var(--blue-7);
    height: 7vh;
}

.container div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container p {
    float: right;
    display: block;
    color: var(--gray-2);
    text-align: center;
    text-decoration: none;
}

.container p:hover {
    color: var(--blue-6);
}

.options a,
.options div {
    margin-left: 40px;
}

.homeLink {
    font-size: 1em;
}

.cartIcon {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--gray-3);
}

.cartIcon:hover {
    color: var(--blue-6);
}