@import './vars.css';

.container {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    background-color: var(--blue-7);
}

.container p {
    float: right;
    display: block;
    color: var(--gray-2);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.container p:hover {
    color: var(--tone-1);
}

.options {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.homeLink {
    font-size: 1em;
}

.cartIcon {
    display: flex;
    flex-direction: row;
    align-items: center;
}