@import './vars.css';

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.options {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.option {
    display: flex;
    align-items: center;
}

.option label {
    margin-left: 1vw;
}