@import './vars.css';

.serviceFilter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.drop {
    display: flex;
    align-items: center;
    justify-content: center;
}

.drop p {
    margin: 0;
}

.serviceOptions {
    display: flex;
    flex-direction: column;
}

.option {
    display: flex;
    align-items: center;
}

.option label {
    margin-left: 1vw;
}