* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

html {
    background-color: var(--gray-2);
}

:root {
    --contrast-1: #000000;
    --tone-1: #00c0b6;
    --tone-2: #96e2d6;
    --gray-1: #777D6E;
    --gray-2: #f0efef;
    --gray-3: rgb(255, 255, 255);
    --top-space: 10vh;
    --side-space: 5vw;

    --blue-1: #2596be;
    --blue-2: #58677c;
    --blue-3: #627998;
    --blue-4: #6480fb;
    --blue-5: #6480fb;
    --blue-6: #6480fb;
    --blue-7: #3a4756;
    --blue-8: #7887a1;
    --gray-1: #dde0e9;
    --gray-2: #f3f6fb;
}

img {
    max-width: 100%;
    max-height: 100%;
}

a {
    color: var(--contrast-1);
    text-decoration: none;
}

h1 {
    color: var(--gray-3);
    margin: 0;
    text-align: center;
}

input {
    height: 30px;
}

button {
    background-color: var(--blue-5);
    color: var(--gray-2);
    border: none;
    padding: 10px 15px;
    margin: 5px;
    transition: 0.2s;
}

button:hover {
    background-color: var(--gray-3);
    color: var(--blue-5);
}