* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

html {
    background-color: var(--gray-2);
}

:root {
    --contrast-1: #000000;
    --tone-1: #00c0b6;
    --tone-2: #96e2d6;
    --gray-1: #777D6E;
    --gray-2: #f0efef;
    --gray-3: rgb(255, 255, 255);
    --top-space: 10vh;
    --side-space: 5vw;

    --blue-1: #2596be;
    --blue-2: #58677c;
    --blue-3: #627998;
    --blue-4: #6480fb;
    --blue-5: #6480fb;
    --blue-6: #6480fb;
    --blue-7: #3a4756;
    --blue-8: #7887a1;
    --gray-1: #dde0e9;
    --gray-2: #f3f6fb;
}

img {
    max-width: 100%;
    max-height: 100%;
}

a {
    color: var(--contrast-1);
    text-decoration: none;
}

h1 {
    color: var(--gray-3);
    margin: 0;
    text-align: center;
}

input {
    height: 30px;
}

.navbar {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    background-color: var(--contrast-1);
}

.navbar p {
    float: right;
    display: block;
    color: var(--gray-2);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar p:hover {
    color: var(--tone-1);
}

.navbar__options {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#home-link {
    font-size: 1em;
}

#cart-amount {
    color: var(--contrast-1);
    margin-left: 8px;
}

#cart-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 46px);
}

.home-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15vh;
}

.home-info h1 {
    color: var(--contrast-1);
}

button {
    background-color: var(--tone-1);
    color: var(--gray-2);
    border: none;
    padding: 10px 15px;
    margin: 5px;
    transition: 0.2s;
}

button:hover {
    background-color: var(--gray-3);
    color: var(--contrast-1);
}

.home-button:hover {
    background-color: var(--gray-2);
}

.catalog-page {
    padding-top: var(--top-space);
    padding: var(--top-space) var(--side-space);
    background-color: var(--gray-2);
}

.table-cart__items,
.list-cart__items {
    margin-top: 5vh;
}

.catalog-table,
.catalog-list {
    margin-left: 20vw;
}

.table-cart__items,
.catalog-table {
    width: 80%;
    background-color: var(--gray-3);
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    grid-auto-rows: minmax(200px, auto);
    justify-content: space-around;
    column-gap: 10px;
    row-gap: 55px;
    padding: 3vh 0;
}

.list-cart__items,
.catalog-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--gray-3);
    border-radius: 15px;
    padding: 3vh 2%;
}

.list-cart__items {
    background-color: var(--gray-2);
}

.table-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-3);
    padding: 5px;
    border-radius: 15px;
    border: solid 2px var(--gray-3);
}

.list-card {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
    border-radius: 15px;
    border: solid 2px var(--gray-3);
    background-color: var(--gray-3);
    margin-bottom: 2vh;
    padding-left: 3vw;
}

.table-card:hover,
.list-card:hover {
    border-color: var(--gray-1);
}

.table-card .card__img {
    height: 200px;
    width: 80%;
    margin-bottom: 5px;
}

.list-card .card__img {
    width: 300px;
    margin-bottom: 5px;
}

.list-card .card__info {
    padding-left: 3vw;
}

.cart {
    padding-top: var(--top-space);
}

.table-cart__items {
    width: 90%;
    margin-left: var(--side-space);
}

.cart__options {
    display: flex;
    align-items: center;
    padding-left: 5%;
}

.cart-item__options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart-button:hover {
    background-color: var(--gray-2);
}

.table-cart__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 3px var(--gray-3);
    border-radius: 15px;
}

.list-cart__item {
    width: 80%;
    margin: 0 0 2vh 10vw;
    display: flex;
    justify-content: left;
    align-items: center;
    border: solid 3px var(--gray-2);
    background-color: var(--gray-3);
    border-radius: 15px;
}

.list-cart__item a {
    width: 70%;
}

.list-cart__item .list-card {
    width: 100%;
    margin: 0;
    border-color: var(--gray-3);
}

.list-cart__item .list-card .card__img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-cart__item .cart-item__options {
    width: 30%;
}

.list-cart__item .list-card .card__img img {
    width: 100%;
}

.table-cart__item:hover,
.list-cart__item:hover {
    border: solid 3px var(--gray-1);
}

.table-cart__item .table-card:hover {
    border-color: var(--gray-3);
}

.filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    position: fixed;
    background-color: var(--gray-3);
    border: 1px solid var(--gray-3);
    border-radius: 15px;
    margin-bottom: 3vh;
}

.filter p {
    margin-bottom: 1vh;
}

.filter-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1vh;
}

.brand-option input {
    margin-right: 1vw;
}

.empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.empty .material-icons{
    font-size: 20vh;
}

@media screen and (max-width: 600px) {
    .catalog-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .filter {
        position: initial;
    }

    .catalog-table,
    .catalog-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .catalog-list {
        width: 100%;
    }

    .catalog-list a {
        width: 80%;
    }

    .list-card {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .list-cart__item .card__img {
        width: 100%;
    }

    .list-cart__item {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
